/*style of the page*/
/*style of the page*/
:root {
    --h2-font-size: 28px;
    --background2: rgb(223, 222, 222);
    --nav-font-size: 2vw;
    --h2-font-color: darkblue;
    --h2-font-family: 'Times New Roman', Times, serif;
  }
  
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 255, 255);
    font-size: 20px;
}

.header1 {
    background-color: #070000;
    text-align: center;
    line-height: 1;
    width: 100%;
}
.header1 h1 {
    color:rgb(253, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background2);
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

}

.grid {
    margin: 20px 10px 10px 20px;
    flex: 1;
    background: rgb(252, 250, 250);
    color: rgb(238, 51, 51);
    border-radius: 1pc;
    border: solid;
    border-color: rgb(3, 3, 3);
    width: 300px;
    max-width: 300px;
    text-align: center;
    flex-basis: auto;
    

}
.grid img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.grid h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
    padding: 0;
    margin: 0;
}
.grid a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    line-height: 3;
}
.grid a:hover {
    text-decoration: underline;
    color:blue;
    
}

/*Develper details style*/
article {
    border-style: solid;
    margin: 10px;
    border-radius: 1pc;
}
.devheader {
    padding: 2px 0;
    background-color: var(--background2);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;  
    border-radius: 1pc;
}

.devheader h2 {
    margin: 20px;
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
    color:darkblue;
    justify-content: start;
    align-items: flex-start;
}

.devheader nav {
    margin: 2px 0;
    display: flex;
    margin-right: 20px;
}

.devheader nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}

.devheader nav ul li a {
    padding: 10px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: lighter;
    font-size: var(--nav-font-size)
}

.devheader nav ul li a:hover {
    text-decoration: underline;
    color:blue;
}

.about-me {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.about-me h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
}

.about-me p {
    justify-content: end;
    width: 85%;
    text-align: left;
    
}
.work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    background-color: var(--background2);
}
.work h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
    margin: 20px;
}

.work-img {
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.work img {
    width: 350px;
    object-fit: cover;
    display:block;
}

.work img:hover {
    opacity: 80%; 
    width: 100%;
    border-radius: 2pc;
} 

.contact {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.contact h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
    margin: 20px;
}
.contact nav {
    margin: 2px 0;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}
.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.contact nav ul li a {
    padding: 20px;
    font-weight: lighter;
    font-size: var(--nav-font-size);
    text-decoration: none;
    color: black
}
.contact nav ul li a:hover {
    text-decoration: underline;
    color:blue;
}
.resume {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--background2)
}
.resume h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-font-color);
    font-family: var(--h2-font-family);
}
.resume p {
    text-align: left;
    width: 85%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .grid {
        width: 200px;
        max-width: 300px;
        min-width: 200px;  
        margin-left: 5px;
        margin-right: 5px; 
    }
    
    .grid img {
        max-width: 200px;
        min-width: 100px;
        padding: 5px;
    }

    .work-img {
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    
    }
    .work img {
        max-width: 200px;
        min-width: 100px;
        height: auto;
        padding: 5px;
    }

    .work h2 {
        margin: 10px;
        font-size: 20px;
    }
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 780px) {
    .grid {
        width:300px;
        max-width: 300px;
        min-width: 100px;
        margin-right: 5px;
        margin-left: 5px; 
    }
    
    .grid img {
        width: 200px;
        min-width: 100px;
    }

    .work-img {
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    
    }
    .work img {
        max-width: 300px;
        min-width: 100px;
        height: auto;
        padding: 5px;
    }

    .work h2 {
        margin: 10px;
        font-size: 20px;
    }

}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 575px) {
    .grid {
        width: 200px;
        max-width: 200px;   
    }
    
    .grid img {
        max-width: 180px;
        min-width: 100px;
    }

    .work-img {
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    
    }
    .work img {
        max-width: 200px;
        min-width: 100px;
        height: auto;
        padding: 5px;
    }

    .work h2 {
        margin: 10px;
        font-size: 20px;
    }
    
  }


